# Dependencies
/node_modules
/frontend/node_modules
/backend/venv
/backend/__pycache__
**/__pycache__/

# Environment Variables & Secrets
.env
.env.local
.env.*.local
backend/.env

# Database & SQLite files
*.db
*.sqlite
*.sqlite3
*.db-journal

# Build & Vite Output
/frontend/dist
/frontend/dist-ssr
.vite
dist/

# OS & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
